@font-face {
  font-family: "CorsicaMX";
  src: url("fonts/CorsicaMX-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "CorsicaMX";
  src: url("fonts/CorsicaMX-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CorsicaMX";
  src: url("fonts/CorsicaLX-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

html,
body {
  height: 100%;
  margin: 0;
}


* {
  font-family: "CorsicaMX", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* transition: all .2s linear; */
  /* background: rgb(197, 197, 197); */
}

body a:hover {
  color: #7DAED3;
  /* color: #941c1c; */
}

body { 
  background-color: #F2EDE9;
  font-size:        small;
  /* font-size: 100%; */
  /* font-size: 62,5%; */

}

.wrapper {
  max-width:        1282px;
  margin:           0px auto;
}

.centerheadernew {
/* display:flex;
align-items:center;
justify-content:center;
top:0px;
left:0px; */
/* width:100vw; */
max-width: 1282px;
height: 100%;
margin: 0 auto;
}

nav.doublemenu {
  padding: 0;
  margin: 0;
  /* padding: 114px 0px 50px 20px; */
  padding: 180px 0px 50px 20px;
}

.home {
  /* display:flex;
  align-items: center;
  justify-content: center; */
  /* padding-top: 17rem;
  padding-bottom: 10rem; */
  position: absolute;
  background: url(img/BGmain.png) no-repeat;
  background-position: center right;
  background-size: cover;
  top: 110px;
  width: 100%;
  height: 480px;
  z-index: -50;
  }

  

/* nav.doublemenu ul li {
  color: #fff;
} */

/* nav.navtop{
  background-color: #414141;
	margin: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* header.top {
  background-color: #675c47;
  margin: 10px 10px 0px 10px;
  height:           108px;
}

header.top img#headerSlogan {
	float: right;
} */




.dropcaps::first-letter {
  /* font-size: 3rem; */
  font-size: 5rem;
  float: left;
  margin-right: 10px;
  color: #954B4B;
  /* color: #36302F; */
}

.Bclass {
  position: relative;
  top: -2em;
  /* left: 1em; */
}

div#tableContainer {
	/* display: table; */
	/* border-spacing: 10px; */
  flex-direction: column;
  /* height: 100%; */
  margin: 10px 0;
  
}

.forfooterdown {
  /* height: 100%; */
  	/* display: table; */
	/* border-spacing: 10px; */
  flex-direction: column;
  /* height: 100%; */
  /* padding: -10px; */
  margin: 10px 0;
  
}

div#tableRow, .allcolumn {
	/* display: table-row; */
  /* display: flex;
  display: -webkit-flex; */
  display: grid;
  grid-template-columns: 0fr 1fr;
  /* grid-template-columns: 30% 1fr; */
  height: 100%;
  gap: 10px;
  /* margin: 10px; */
}

/* time {
  font-weight: bold;
  color: rgba(103, 92, 71, 0.8);
} */

/* .firsttext {
  border: 6px dashed rgba(103, 92, 71, 0.3);
  padding: 5px;
  margin-left: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.vid {
  text-align: center;
} */
#logomain img {
  display: block;
}

section#drinks, .sideleft {
    /* display: table-cell; */
    background-color: #fff;
    /* width: 20%; */
    padding: 15px;
    vertical-align: top;
    margin-left: 10px;
    flex: 1;
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    position: sticky;
    top: 110px;
    /* position: relative;
    top: -5%; */

}

section#drinks {
  font-size: 12px;
  font-weight: bold;
  max-width: 216px;
  padding: 30px 20px 10px 20px;
}

section ul.drinksmenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.leftmenuhead {
  font-size: 70px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #7DAED3;
  text-align: left;
  margin-left: 15px;
}

/* .onetable {
  margin-left: 10px;
} */

tbody#first td:nth-child(2) {
 /* color: rgba(236, 59, 59, 0.8); */
 /* color: rgba(192, 72, 72, 0.8); */
 /* color: #954b4b; */
 /* color: #ac4242; */
 padding-left: 15px;
}
tbody td:nth-child(2) {
  /* color: rgba(236, 59, 59, 0.8); */
  /* color: rgba(192, 72, 72, 0.8); */
  /* color: #954b4b; */
  /* color: #ac4242; */
 }

/* added section#blog for blog */
section#main, section#blog, .middle {
  /* display: table-cell; */
  /* background:       #efe5d0 url(images/background.gif) top left; */
  font-size:        105%;
  /* padding:          15px; */
  vertical-align: top;
  /* flex: 2 2 35%; */
  flex: 2 2 100%;
  
}

section .titleone {
  text-align: center;
  font-size: 1.5em;
}
/* section#blog h1 {
  text-align: center;
} */


aside, .sideright {
  /* display: table-cell; */
  background:       #efe5d0 url(images/background.gif) bottom right no-repeat fixed;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
  margin-right: 10px;
  flex: 2 2 2%;
  border-top-right-radius: 10px;
  /* border-bottom-right-radius: 10px; */
  
}

footer {
  background-color: #663F43;
  color:            #fff;
  /* text-align:       center; */
  padding:          15px;
  /* margin: 0px 10px 10px 10px; */
  font-size:        90%;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

h2 { font-size: 110%; }

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

/* a:link {
  color:            #342022;
  text-decoration:  none;
} */
a:visited {
  /* color:            #675c47; */
  color: #7DAED3;
  text-decoration:  none;
  /* border-bottom:    thin dotted #675c47; */
}

.coffeeimg {
  width: 35%;
  height: 35%;
  /* margin: 10px; */
  margin-bottom: 1em;
}

header {
  background-color: #efe5d0;
  margin: 0;
  padding: 0;
}

header nav {
  /* background-color: #efe5d0; */
	margin: 10px 10px 0px 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  /* background-color: #efe5d0; */
	margin: 10px 10px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  /* background-color: #efe5d0; */
  margin: 0px;
  list-style-type: none;
  /* padding: 5px 0px 5px 0px; */
  display: flex;
  padding-left: 0;
  align-items: center;
  
  
}

nav ul li {
  margin-right: 18px;
  
}

/* nav ul li {
  display: inline;
  padding: 5px 10px 5px 10px;
} */

nav ul li a:link, nav ul li a:visited {
  /* color: #342022; */
  color: #fff;
  border-bottom: none;
  font-weight: bold;
}

ul {
  /* background-color: #efe5d0; */

  list-style-type: none;

  /* border-radius: 20px 0 0px 20px; */
}

/* .ulend {
  border-radius: 0px 20px 20px 0px;
} */



#headermenu li a:hover {
  color: #7DAED3;
}

section#drinks li a:hover {
  color: #ffe483;
}
nav ul li a:hover {
  color: #7DAED3;
}
.sldh a:hover {
  color: #7DAED3;
}
.sldhright a:hover {
  color: #7DAED3;
}




/* ul li a {

  display: inline-flex;
  padding: 4px 20px;

} */

p.priceparagraph {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #342022;
  padding: 0 30px;
  padding-bottom: 50px;
}

ul li.pricedownload {
  font-size: 14px;
  /* font-size: 1.1em; */
  font-weight: 600;
  margin-bottom: 12px;
  /* margin-top: 28px; */
  padding-top: 28px;
  /* border-top: 1px solid #c1c1c1; */
  color: #342022;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li.pricedownload::before {
  content:"";
  position:absolute;
  top: 0;
  left:22%;
  width:116%;
  height:1px;
  margin-left:-30%;
  background:#c1c1c1;
}

.fa-download {
  margin-right: 10px;
}

ul li a:link, ul li a:visited {
  color: #342022;
  border-bottom: none;
  font-weight: bold;
  
}
.header__list a:link, .header__list  a:visited {
  color: #fff;
  border-bottom: none;
  font-weight: bold;
}

#footernavigation a:link, #footernavigation a:visited {
  color: #fff;
}

#footernavigation a:hover {
  color: #7DAED3;
}


nav ul li.selectedblog {
  border-radius: 0px 0 0px 0px;
  background-color: #c8b99c;

}


/* Новые стили для Хэдера */

img {
  max-width: 100%;
}

/* a.header__link {
  color: #fff;
} */

/* ul.header_list a {
  color: #fff;
} */

/* .container.headernew {
  max-width: 1282px;
  margin: 0 auto;
} */
.container.headernew {
    max-width: 1282px;
    margin: 0 auto;
    /* padding: 0 10px; */
    position: fixed;
    width: 100%;
    z-index: 55;
}

.header {
width: 100%;
top: 0;
left: 0;
z-index: 50;
background-color: #342022;
}



.header::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  /* background-color: #5e5373; */
  /* background-color: #342022; */
  background-color: #663F43;
  z-index: 2;
}
/* .header::before {
  content: '';

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 2;
} */



.header__body {
  position: relative;
  /* z-index: 2; */
  display: flex;
  justify-content: space-between;
  height: 110px;
  align-items: center;
  color: #fff;
  background-color: #663F43;
  padding: 0 20px;
}

.header__logo {
  /* max-width: 100%; */
  flex: 0 0 1;
  /* border-radius: 50%; */
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
}

.header__menu {
  display: flex;
}

.ulleft {
  display: flex;
}

.ulright {
  display: flex;
}

.header__list li {
  list-style: none;
  margin-left: 20px;
}

.header__link {
  /* text-transform: uppercase; */
  font-size: 16px;
  text-decoration: none;
}


.circle {
  display: none;
}

.cross {
  display: none;
}

.avatarsvg {
    height: 90%;
    left: 50%;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.avatarlogo {
  display: block;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  height: 46px;
  width: 46px;
}



/* .logotop {
  width: 100%;
  height: 100%;

} */

@media all and (min-width:601px) {
  .headertextmobileblock {
    display: none;
  }

  .headertextmobile {
    display: none;
  }
  
  .sectionmobile {
    display: none;
  }

}


@media all and (max-width:820px) {

     .header__body.shadow {
       display: none;
     }

     .header::before {
      display: none;
    }
}

@media all and (min-width:821px) {
  
     .header__body.shadowbottom{
       display: none;
     }


     
}



@media all and (max-width: 820px) {

  body.lock {
    overflow: hidden;
  }

  

  .cross{
      display: flex;
      align-items: center;
      position: absolute;
      top: 27px;
      right: -100%;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      position: fixed;
      z-index: 11;
      transition: all 0.3s ease 0s;
  }
  .cross.active{
      display: flex;
      align-items: center;
      position: absolute;
      top: 27px;
      right: 18px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
      position: fixed;
      z-index: 11;
  }

  /* #moremenu li a:visited {
    color: #ffe483;
  } */

  /* #moremenu li a:hover {
    color: #7DAED3;
  }
  
   */
  #moremenu li a:hover {
    color: #ffe483;
  }


  #moremenu li a:active {
    color: #ffe483;
    background-color: #251303;
  }
  /* #moremenu li a:visited {
    color: #ffe483;
    background-color: #251303;
  } */
  

  .circle {
    display: block;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    position: relative;
    height: 46px;
    width: 46px;
    position: relative;
    z-index: 3;
    margin-left: 20px;
  }
  /* .circle:hover {
    background: #ffffff;
    border-radius: 50%;
    color: #fff;
    position: relative;
    height: 46px;
    width: 46px;
  } */

  .circle.active {
    background: #ffffff;
    border-radius: 50%;
    color: #fff;
    position: relative;
    height: 46px;
    width: 46px;
  }
  
  .circle-icon {
    fill: currentColor;
    height: 50%;
    left: 50%;
    position: absolute;
    stroke: currentColor;
    stroke-width: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
  
  .circle-icon.active path {
    fill: #7DAED3;
  }

  .cross-icon.active {
    display: block;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* width: 20rem; */
    width: 14rem;
    height: 100%;
    overflow: auto;
    /* background-color: #342022; */
    background-color: #4e2a2d;
    /* padding: 90px 10px 20px 10px; */
    padding: 50px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    right: 0;
    z-index: 10;
  }

  .header__body {
    position: relative;
    /* z-index: 2; */
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    color: #fff;
    background-color: #663F43;
    padding: 0 10px;
  }

  .avatarlogo {
    flex: 0 0 46px;
    
  }

  .header__logo {
    flex: 0 0 40px;
    flex: 1;
  }

  .header__list {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* margin: 0 auto; */
  }
  
  .header__list li {
    margin: 0 0 20px 0;
  }
}


/* Новый хэдер заканчивается тут */

/* nav ul li.selectedhome {
  border-radius: 20px 0 0px 20px;
  background-color: #c8b99c;
  
} */

/* #award {
  position: absolute;
  top: 30px;
  left: 40%;
}
#coupon {
  position: fixed;
  top: 350px;
  left: -110px;
  transition: 0.2s ease-in;
}
#coupon:hover {
  position: fixed;
  top: 350px;
  left: -20px;
  transition: 0.2s ease-in;
}
#coupon a, img {
  border: none;
} */


/* @media (max-width: 450px) {
  .leftmenuhead {
    display: none;
  }
  section#drinks, .sideleft {
    display: none;
}
} */

@media (max-width: 1282px) {
  .wrapper {
    max-width: 1024px;
  }

  .header__menu.wrapper {
    max-width: 1024px;
  }

  section#main, section#blog, .middle {
    font-size:        105%;
    vertical-align: top;
    flex: 1 1 auto;
  }

  .avatarlogo {
    flex: 0 0 46px;
    
  }

}


/* @media (max-width: 767px) {
  .wrapper {
    max-width: none;
  } */


  /* Брейкпойнт до 820 и меньше */
  @media all and (max-width:820px) {

    body.lock {
      overflow: hidden;
    }

    section#drinks,.sideleft {
      top: 80px;
    }

    .home {
      /* display:flex;
      align-items: center;
      justify-content: center; */
      /* padding-top: 17rem;
      padding-bottom: 10rem; */
      position: absolute;
      background: url(img/BGmain.png) no-repeat;
      background-position: center right;
      background-size: cover;
      top: 80px;
      width: 100%;
      height: 480px;
      z-index: -50;
      }

    div.footer.wrapper {
      /* max-width: 50%; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      /* text-align: center; */
      /* padding: 257px 0px; */
      height: 157px;
    } 

    ul li.pricedownload {
      /* font-size: 114%; */
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 12px;
      /* margin-top: 28px; */
      padding-top: 28px;
      /* border-top: 1px solid #c1c1c1; */
      color: #342022;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    
    /* header nav ul li:nth-child(n + 2){
      display: none;
    } */
       header.shadow {
         display: none;
       }

       .footernavigationblock {
         display: none;
      }


  }

  @media all and (min-width:821px) {
    /* header nav ul li:nth-child(n + 2){
      display: none;
    } */
       header.shadowbottom{
         display: none;
       }
       

  }

  @media (max-width: 681px) {
    ul li.pricedownload {
      /* font-size: 114%; */
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 12px;
      /* margin-top: 28px; */
      padding-top: 28px;
      /* border-top: 1px solid #c1c1c1; */
      color: #342022;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }


    .header::before {
      display: none;
    }

  }




/* Брейкпойнт до 600 и меньше */
@media (max-width: 600px) {
  

  div.footer.wrapper {
    /* max-width: 50%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* text-align: center; */
    /* padding: 257px 0px; */
    height: 157px;
  } 

  #home {
    display: none;
  }

  .header::before {
    display: none;
  }


  /* #headertextmobileblock {
    margin-bottom: 20px;
  } */

  h1.headertextmobile {
    font-weight: bold;
    font-size: 40px;
    color: #7DAED3;
    text-align: center;
    margin-bottom: 28px;
  }

  nav ul li a:link, nav ul li a:visited {
    color: #342022;
    /* color: #fff; */
    border-bottom: none;
    font-weight: bold;
  }

  nav ul li a:hover, nav ul li a:hover {
    color: #7DAED3;
    border-bottom: none;
    font-weight: bold;
  }

  nav.doublemenu {
    padding: 0;
    margin: 0;
    /* padding: 114px 0px 50px 20px; */
    /* padding: 100px 0px 25px 20px; */
    padding: 100px 0px 5px 20px;
  }

  .sectionmobile__firstline {
    /* width: 390px; */
    margin: 0 auto;
  }


  .sectionmobile__firstlinenav {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /* font-size: 12px; */
    font-size: 14px;
    font-weight: bold;
  }

  .sectionmobile__firstlinenav a {
    color: #342022;
  }
  .sectionmobile__firstlinenav a:hover {
    color: #98C0E5;
  }
  .sectionmobile__firstlinenav span:hover {
    border-bottom: 2px solid #98C0E5;
  }

  .sectionmobile__firstlinenav ul li {
    margin-left: 25px;
  }
  
  .leftmenuhead {
    display: none;
  }
  section#drinks, .sideleft {
    display: none;
}
  div#tableRow, .allcolumn {
    /* grid-template-columns: 0fr 1fr;
    display: grid; */
    display: block;
    height: 100%;
    gap: 10px;
  }
  #sectionmobile.sectionmobile{
    background-color: #fff;
    width: 100%;
    height: 232px;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.25);
    padding: 20px 0px;
  }
  

  .allcolumn {
    -webkit-flex-direction: column;
    flex-direction: column;
    
  }
}
.elixirs {
    display: none;
}

.container_section {
    text-align: center;
    padding: 50px 30px;
}

.container_section:nth-child(1) {
    /* padding: 50px 30px 0px 30px; */
    /* padding: 350px 30px 0px 30px; */
    padding: 40px 30px 0px 30px;
}

.container_section .heading {
    font-size: 40px;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    margin-left: 20px;
    /* color: #663f43; */
    color: #342022;
    text-align: left;
}

.container_section .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 20px;
}

.container_section .box-container .box {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    /* padding: 15px; */
    
}

.container_section .box-container .box:nth-child(1),
.container_section .box-container .box:nth-child(2),
.container_section .box-container .box:nth-child(3),
.container_section .box-container .box:nth-child(4),
.container_section .box-container .box:nth-child(5),
.container_section .box-container .box:nth-child(6) {
    display: block;
}

.container_section .box-container .box .image {
    /* margin-bottom: 25px; */
    overflow: hidden;
    height: 238px;
}

.container_section .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-fit: cover; */
}

.container_section .box-container .box:hover .image img {
    transform: scale(1.1);
}

.box-container {
    color: #342022;
    text-align: left;
}

.container_section .box-container .box .content {
    /* margin-left: 20px; */
    padding: 23px;
}

.container_section .box-container .box .content h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
}

.container_section .box-container .box .content p {
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    /* margin-left: 10px; */
}

#load-more {
    margin-top: 20px;
    display: inline-block;
    padding: 13px 30px;
    border: 2px solid #342022;
    color: #342022;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
    /* background-color: #fff; */
}

#load-more:hover {
    background-color: #7DAED3;
    border-color: #7DAED3;
    color: #fff;
}

footer {
  background-color: #663F43;
  color:            #fff;
  /* text-align:       center; */
  /* margin: 0px 10px 10px 10px; */
  padding:          50px;
  font-size:        90%;
}

@media (max-width: 450px) {
  .container_section:nth-child(1) {
    padding: 40px 0px 0px 0px;
}
  .container_section {
    padding: 42px 0px;
}
}

@media (min-width: 601px) {
  .container_section:nth-child(1) {
    /* padding: 50px 30px 0px 30px; */
    /* padding: 350px 30px 0px 30px; */
    padding: 350px 30px 0px 30px;
}



}




/* Брейкпойнт от 820 и больше */
@media (min-width: 820px) {



  div.footer.wrapper {

    /* display: flex; */
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    height: 57px;
    /* transition: all .2s ease-in; */
    padding: 20px;
    padding-top: 30px;
  
  } 

  nav.doublemenu {
    padding: 0;
    margin: 0;
    /* padding: 114px 0px 50px 20px; */
    /* padding: 100px 0px 25px 20px; */
    padding: 270px 0px 50px 20px;
  }

  .container_section:nth-child(1) {
    /* padding: 50px 30px 0px 30px; */
    /* padding: 350px 30px 0px 30px; */
    /* padding: 295px 30px 0px 30px; */
    padding: 260px 30px 0px 30px;
}
  /* div.footer.wrapper {

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    height: 57px;
    transition: all .2s ease-in;
  }  */

  footer {
    background-color: #663F43;
    color:            #fff;
    /* text-align:       center; */
    /* margin: 0px 10px 10px 10px; */
    /* padding:          50px; */
    font-size:        90%;
    padding: 0;
    height: 150px;
  }

.footerlogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}



.footernavigation  {
display: flex;
flex-direction: row;
/* gap: 205px; */
gap: 20px;
}

.footernavigationblock {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-direction: column;
}

.ftnavright {
  flex: 0;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  /* font-weight: 500; */
  font-weight: bold;
  gap: 10px;
}

.ftnav {
  flex: 1;
  margin-left: 30px;
  font-size: 18px;
  /* font-weight: 500; */
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

}

@media (min-width: 821px) {
  .container_section:nth-child(1) {
    /* padding: 50px 30px 0px 30px; */
    /* padding: 350px 30px 0px 30px; */
    padding: 290px 30px 0px 30px;
}
/* @media all and (max-width: 911px) {
  .container_section:nth-child(1) {
    padding: 290px 30px 0px 30px;
}
} */
@media all and (min-width: 912px) {
  .container_section:nth-child(1) {
    /* padding: 50px 30px 0px 30px; */
    /* padding: 350px 30px 0px 30px; */
    /* padding: 295px 30px 0px 30px; */
    padding: 290px 30px 0px 30px;
}
}


@media (max-width: 450px) {
  .container_section .heading {
      font-size: 25px;
      margin-bottom: 25px;
  }



  .container_section {
    padding: 0;
      /* padding: 25px 0px; */
  }
  .container_section:nth-child(1) {
 
      padding: 25px 0;
  }

  .container_section .box-container {
      grid-template-columns: 1fr;
  }

  .container_section .box-container .box .content p {
      font-size: 12px;
  }

  .container_section .box-container .box .content p {
      font-size: 12px;
  }
  /* .container_section .box-container .box .image img {
      height: 110%;
      width: 100%;
      object-fit: contain;
  } */
  
}
